<template name="musicdetail_ori">
<div class="cover">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/img/voice_singer_logo.svg" width="100" height="50"></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <div class="pull-right">
				<ul class="nav">
				  <li class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">
					  Login
					  <b class="caret"></b>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
					  <li>
						<a href="#">item</a>
					  </li>
					  <li class="divider"></li>
					  <li>
						<a href="#">another item</a>
					  </li>
					</ul>
				  </li>
				</ul>
			  </div>
          </div>
        </div>
      </div>
      <div class="background-image-fixed cover-image" style="background-image : url('https://s-media-cache-ak0.pinimg.com/600x315/08/45/c1/0845c1b2846f5c429ba8169562bf2fc5.jpg')"></div>
      <div class="container-full">
			<div class="col-md-2">
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h3 class="panel-title">Productions</h3>
				  </div>
				  <div class="panel-body">
					<ul class="list-inline">  
						
						<li class="col-md-12"><img class="thumbnail img-responsive" alt="Bootstrap template" 
							src="/img/production/sunday_logo.jpg" />
						</li>
												
					</ul>
				  </div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="panel panel-default">
					<div class="panel-heading">
						
						<ul class="list-inline singerdetail">
							  <li>
								<a href="/login"><img src="/img/singer/khem.png" class="img-thumbnail img-responsive" height="50" width="50"></a>
							  </li>
							  <li class="text-center">
								<a href="">
									<h3 class="musics">909</h3>
									<span class="text-muted text-center"><i class="fa fa-music"></i> Musics</span>
								</a>
							  </li>
							  <li class="text-center">
								<a href="">
									<h3 class="like">909</h3>
									<span class="text-muted text-center"><i class="fa fa-thumbs-o-up"></i> Like</span>
								</a>
							  </li>
							  <li class="text-center">
								<a href="">
									<h3 class="unlike">45</h3>
									<span class="text-muted"><i class="fa fa-thumbs-o-down"></i> Unlike</span>
								</a>
							  </li>
							  <li class="text-center">
								<a href="">
									<h3 class="views">909</h3>
									<span class="text-muted"><i class="fa fa-eye"></i> Views</span>
								</a>
							  </li>
							</ul>
						
						<!--<div class="input-group">
							<input class="form-control" placeholder="Search singer..." type="text">
							<span class="input-group-btn">
							  <button class="btn btn-default" type="button">Go!</button>
							</span>
						 </div>-->
					</div>
					<div class="panel-body">
						<div class="input-group">
							<input class="form-control" placeholder="Search singer..." type="text">
							<span class="input-group-btn">
							  <button class="btn btn-default" type="button">Go!</button>
							</span>
						 </div>
						<table class="table">				
							<tbody>
							  <tr>
								<td><i class="fa fa-play" aria-hidden="true"></i></td>
								<td>1 - Somlor somlork</td>
								<td>04:45</td>
								<td>SD</td>
								<td>Vol 55</td>
								<td><i class="fa fa-heart" aria-hidden="true"></i></td>
								<td><i class="fa fa-share" aria-hidden="true"></i></td>
								<td><i class="fa fa-arrow-down" aria-hidden="true"></i></td>
							  </tr>
							  <tr class="info">
								<td><i class="fa fa-pause" aria-hidden="true"></i></td>
								<td>14 - Bong chol chet tae brand brand</td>
								<td>03:55</td>
								<td>SD</td>
								<td>Vol 55</td>
								<td><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></td>
								<td><a href=""><i class="fa fa-share" aria-hidden="true"></i></a></td>
								<td><a href=""><i class="fa fa-arrow-down" aria-hidden="true"></i></a></td>
							  </tr>
							  <tr>
								<td><i class="fa fa-play" aria-hidden="true"></i></td>
								<td>1 - Somlor somlork</td>
								<td>04:45</td>
								<td>SD</td>
								<td>Vol 55</td>
								<td><i class="fa fa-heart" aria-hidden="true"></i></td>
								<td><i class="fa fa-share" aria-hidden="true"></i></td>
								<td><i class="fa fa-arrow-down" aria-hidden="true"></i></td>
							  </tr>
							  <tr>
								<td><i class="fa fa-play" aria-hidden="true"></i></td>
								<td>1 - Somlor somlork</td>
								<td>04:45</td>
								<td>SD</td>
								<td>Vol 55</td>
								<td><i class="fa fa-heart" aria-hidden="true"></i></td>
								<td><i class="fa fa-share" aria-hidden="true"></i></td>
								<td><i class="fa fa-arrow-down" aria-hidden="true"></i></td>
							  </tr><tr>
								<td><i class="fa fa-play" aria-hidden="true"></i></td>
								<td>1 - Somlor somlork</td>
								<td>04:45</td>
								<td>SD</td>
								<td>Vol 55</td>
								<td><i class="fa fa-heart" aria-hidden="true"></i></td>
								<td><i class="fa fa-share" aria-hidden="true"></i></td>
								<td><i class="fa fa-arrow-down" aria-hidden="true"></i></td>
							  </tr>
							  <tr>
								<td><i class="fa fa-play" aria-hidden="true"></i></td>
								<td>1 - Somlor somlork</td>
								<td>04:45</td>
								<td>SD</td>
								<td>Vol 55</td>
								<td><i class="fa fa-heart" aria-hidden="true"></i></td>
								<td><i class="fa fa-share" aria-hidden="true"></i></td>
								<td><i class="fa fa-arrow-down" aria-hidden="true"></i></td>
							  </tr>
							  <tr>
								<td><i class="fa fa-play" aria-hidden="true"></i></td>
								<td>1 - Somlor somlork</td>
								<td>04:45</td>
								<td>SD</td>
								<td>Vol 55</td>
								<td><i class="fa fa-heart" aria-hidden="true"></i></td>
								<td><i class="fa fa-share" aria-hidden="true"></i></td>
								<td><i class="fa fa-arrow-down" aria-hidden="true"></i></td>
							  </tr>
							  <tr>
								<td><i class="fa fa-play" aria-hidden="true"></i></td>
								<td>1 - Somlor somlork</td>
								<td>04:45</td>
								<td>SD</td>
								<td>Vol 55</td>
								<td><i class="fa fa-heart" aria-hidden="true"></i></td>
								<td><i class="fa fa-share" aria-hidden="true"></i></td>
								<td><i class="fa fa-arrow-down" aria-hidden="true"></i></td>
							  </tr>
							  
							  
							  
							  
							  
							  
							</tbody>
						  </table>								
					</div>
				 </div>	
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h3 class="panel-title">Popular Singer</h3>
				  </div>
				  <div class="panel-body">
					<ul class="list-group no-bg no-borders pull-in">
						{{#each allsinger}}
							<li class="list-group-item clearfix">
							  <a herf="" class="pull-left w-40 m-r">
								<img src="/img/singer/{{image}}" alt="..." class="w-full img-circle">
							  </a>
							  <div class="clear text-ellipsis">
								<div><a href="">{{singername}} </a></div>
								<small class="text-muted-dk">{{singernamekh}} <span style="color:#ccc;padding-left:2px">152 <i class="fa fa-music"></i></span></small>
							  </div>
							</li>
						{{/each}}						
					</ul>
				  </div>
				</div>
			</div>
		</div>
    </div>
</template>